.filterBox {
    min-width: 300px;
}

.filterContainer {
    padding-right: 100px;
}

.footer {
    padding: 100px;
    flex-direction: row;
}

.hotnumberImg {
    align-self: flex-start;
    margin-right: 30px;
    height: 236px;
    min-width: 234px;
}

.footerText {
    width: 329px;
}

.hotnumberText {
    font-size: 20px
}

.hotnumberText2 {
    font-size: 20px
}

.hotnumberCircle {
    height: 88px;
    width: 88px;
}

.hotnumberBox {
    height: 236px;
    width: 100%;
    padding: 30px;
}

.hotnumberCircleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.layoutPadding {
    padding: 50px;
}

.unhide {
    display: none !important;
}

.countdownTimerContainer {
    height: 200px
}

.countdownTimerImage {
    height: 200px;
}

.countdownTimerBanner {
    width: 444px;
    height: 200px;
}

.countdownTimerBannerText {
    font-size: 20px;
}

.resultcardStack {
    margin: 24px;
}

.resultcardText1 {
    font-size: 20px;
}

.resultcardText2 {
    font-size: 15px;
}

.resultcardText3 {
    font-size: 11px;
}

.pagetitle{
    font-size: 20px;
}

.ResultsGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ResultCard{
    width: 377.53px;
    height: 246.46px;
}

.carouselImage{
    height: 350px;
}
@media (max-width: 600px) {
  .hotnumberCircle {
      height: 30px;
      width: 30px;
  }
}

@media (max-width: 800px) {
    .carouselImage{
        height: 180px;
    }
    .ResultCard{
        width: 100%;
    }
    .ResultsGrid{
        justify-content: center;
    }

    .historyfilter{
        flex-direction: column !important;
    }

    .historyfilterInput{
        width: 100% !important;
        margin-bottom: 5px;
    }

    

    .resultcardStack {
        margin: 10px !important;
    }

    .resultcardBtn {
        margin-top: 30px !important;
    }

    .countdownTimerBannerText {
        font-size: 14px;
    }

    .countdownTimerBanner {
        width: 100%;
        height: 150px;
    }

    .countdownTimerContainer {
        height: 100%;
        flex-direction: column;
    }

    .countdownTimerInnerContainer {
        margin-bottom: 10px;
    }

    .countdownTimerImage {
        height: 150px;
        width: 150px !important;
    }

    .layoutPadding {
        padding: 10px;
        padding-top: 20px;
    }

    .unhide {
        display: block !important;
    }

    .hotnumberImg {
        height: 180px;
        min-width: 150px;
        margin-right: 5px;
    }

    .hotnumberBox {
        height: 180px;
        padding: 5px;
    }

    .hide {
        display: none !important;
    }

    .hotnumberCircleContainer {
        margin: 8px !important;
        align-items: center;
    }

    .hotnumberText {
        font-size: 15px !important;
    }

    .hotnumberText2 {
        font-size: 13px !important;
    }

    .hotnumberCircle {
        height: 35px;
        width: 35px;
    }

    .hotnumberTextDisplay {
        display: none !important;
    }

    .filterBox {
        width: 100%;
    }

    .filterContainer {
        padding-right: 0px;
    }

    .footer {
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }

    .footerMargin {
        margin-bottom: 20px;
    }

    .footerText {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }
}